:root {

    /* Layout */
    --header-height: 60px;
    --sidebar-width: 240px;

    /* background */
    --bg-header: #ffffff;
    --bg-sidebar: #20252a;
    --bg-main: #f2f4f6;

    /* Primary */
    --primary: #3f4b56;
    --primary-hover: #202830;
    --accent: #59646e;
    --accent-soft: #edf0f2;

    /* Text */
    --text-color: #252b31;      /* 기본 글자 */
    --heading-color: #171c21;   /* 페이지 제목 */
    --text-white: #ffffff;      /* 밝은 글자 */
    --text-muted: #717b84;      /* 구분선, 보조텍스트 */

    /* Border */
    --border-color: #d9dee3;    /* border, table, input */
}
