:root {

    /* Layout */
    --header-height: 60px;
    --sidebar-width: 240px;

    /* background */
    --bg-header: white;
    --bg-sidebar: #e5e7eb;
    --bg-main: #f3f4f6;

    /* Primary */
    --primary: #0ea5e9;
    --primary-hover: #0284c7;

    /* Text */
    --text-color: #374151;      /* 기본 글자 */
    --text-white: #ffffff;      /* 흰 글자 */
    --text-muted: #9ca3af;      /* 구분선, 보조텍스트 */

    /* Border */
    --border-color: #d1d5db;    /* border, table, input */
}